<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/style.css">
		<meta charset="utf-8">
	</head>
	<body>
    <!--
		<div class="menu">
			<div class="user">
				<div class="userIcon"></div>
				<div class="userRight">
					<h3 class="username">Jip</h3>
					<h4 class="moneyinaccount">$8</h4>
				</div>
			</div>
			<div class="menuButtons">
				<button>Top sold</button>
				<button>Sales</button>
				<button>Recently released</button>
				<button>Redeem code</button>
			</div>
    </div>
    -->
		<div class="gamesapps">
<div class="game">
    <div class="gameTop" style="background: url('https://geisha-wup.cdn.nintendo.net/imgtest/1.png'); background-size: cover; background-position: center;"><button class="backbutton" onclick="alert('hoi')">&lt;--</button></div>
    <div class="gameMid">
      <h3>Celeste</h3>
      <div class="pricing"><div class="currensign">$</div><div class="19.99">19.99</div></div>
    </div>
    <div class="itemsHidden">
      <button>Buy Now</button>
      <h3>Apparently this is a gud game</h3>
      <p>
        DuckTales: Remastered is a Metroidvania style[6] platform video game developed by WayForward Technologies and published by Capcom and Disney Interactive Studios. The game is a high-definition remake of DuckTales, a game released on the Nintendo Entertainment System in 1989. It was released for multiple gaming platforms, including the PlayStation 3, the Xbox 360, and the Wii U, over a three-month period between August and November 2013, and later expanded to iOS, Android, and Windows Phone in April 2015.
      </p>
      <h3>More information</h3>
      <p>Not yet</p>
    </div>
  </div>
		
  <div class="game">
    <div class="gameTop" style="background: url('https://lumiere-a.akamaihd.net/v1/images/open-uri20150608-27674-16j1ths_a500806c.jpeg?region=0,0,1024,430'); background-size: cover; background-position: center;"><button class="backbutton" onclick="alert('hoi')">&lt;--</button></div>
    <div class="gameMid">
      <h3>Ducktales: remastered</h3>
      <div class="pricing"><div class="currensign">$</div><div class="11.99">11.99</div></div>
    </div>
    <div class="itemsHidden">
      <button>Buy Now</button>
      <h3>Apparently there's a game</h3>
      <p>
        DuckTales: Remastered is a Metroidvania style[6] platform video game developed by WayForward Technologies and published by Capcom and Disney Interactive Studios. The game is a high-definition remake of DuckTales, a game released on the Nintendo Entertainment System in 1989. It was released for multiple gaming platforms, including the PlayStation 3, the Xbox 360, and the Wii U, over a three-month period between August and November 2013, and later expanded to iOS, Android, and Windows Phone in April 2015.
      </p>
      <h3>More information</h3>
      <p>Not yet</p>
    </div>
  </div>

  <div class="game">
    <div class="gameTop" style="background: url('https://compass-ssl.xbox.com/assets/0f/e2/0fe20042-0bb8-4781-82f4-7130f928b021.jpg?n=Minecraft-2017_Superhero-0_Keyart_767x431.jpg'); background-size: cover; background-position: center;"><button class="backbutton" onclick="alert('hoi')">&lt;--</button></div>
    <div class="gameMid">
      <h3>Minecraft</h3>
      <div class="pricing"><div class="currensign">$</div><div class="15.99">15.99</div></div>
    </div>
    <div class="itemsHidden">
      <button>Buy Now</button>
      <h3>Why tf is this a thing</h3>
      <p>
        BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS 
      </p>
      <h3>More information</h3>
      <p>Not yet</p>
    </div>
  </div>

  <div class="game">
    <div class="gameTop" style="background: url('https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_Splatoon2_image1600w.jpg'); background-size: cover; background-position: center;"><button class="backbutton" onclick="alert('hoi')">&lt;--</button></div>
    <div class="gameMid">
      <h3>Splatoon 2</h3>
      <div class="pricing"><div class="currensign">$</div><div class="59.99">59.99</div></div>
    </div>
    <div class="itemsHidden">
      <button>Buy Now</button>
      <h3>How fun</h3>
      <p>
        Two years have passed since the original Splatoon™ game was released, and two years have also passed in Inkopolis! So expect a fresh wave of fashion, not to mention new weapons and gear. Dual wield the new Splat Dualies or stick to mainstays like chargers and rollers, which have been remixed with new strategic possibilities. As always, Turf War is the favored sport among Inklings, but they also dig ranked battles, taking down Octarians in a robust single-player campaign, and battling enemy Salmonids in one dangerous part-time job! No matter which way you play, splat at home or on-the-go with Nintendo Switch. Staying fresh never felt so good.
      </p>
      <h3>More information</h3>
      <p>Not yet</p>
    </div>
  </div>

  <div class="game">
    <div class="gameTop" style="background: url('https://cdn3.dualshockers.com/wp-content/uploads/2017/02/Screen-Shot-2017-02-22-at-5.25.03-PM.png'); background-size: cover; background-position: center;"><button class="backbutton" onclick="alert('hoi')">&lt;--</button></div>
    <div class="gameMid">
      <h3>Celeste</h3>
      <div class="pricing"><div class="currensign">$</div><div class="19.99">19.99</div></div>
    </div>
    <div class="itemsHidden">
      <button>Buy Now</button>
      <h3>Apparently this is a gud game</h3>
      <p>
        DuckTales: Remastered is a Metroidvania style[6] platform video game developed by WayForward Technologies and published by Capcom and Disney Interactive Studios. The game is a high-definition remake of DuckTales, a game released on the Nintendo Entertainment System in 1989. It was released for multiple gaming platforms, including the PlayStation 3, the Xbox 360, and the Wii U, over a three-month period between August and November 2013, and later expanded to iOS, Android, and Windows Phone in April 2015.
      </p>
      <h3>More information</h3>
      <p>Not yet</p>
    </div>
  </div>

  <div class="game">
    <div class="gameTop" style="background: url('http://cdn.edgecast.steamstatic.com/steam/apps/481510/header.jpg?t=1489689270'); background-size: cover; background-position: center;"><button class="backbutton" onclick="alert('hoi')">&lt;--</button></div>
    <div class="gameMid">
      <h3>Night in the woods</h3>
      <div class="pricing"><div class="currensign">$</div><div class="29.99">29.99</div></div>
    </div>
    <div class="itemsHidden">
      <button>Buy Now</button>
      <h3>Wooohhh scary</h3>
      <p>
        DuckTales: Remastered is a Metroidvania style[6] platform video game developed by WayForward Technologies and published by Capcom and Disney Interactive Studios. The game is a high-definition remake of DuckTales, a game released on the Nintendo Entertainment System in 1989. It was released for multiple gaming platforms, including the PlayStation 3, the Xbox 360, and the Wii U, over a three-month period between August and November 2013, and later expanded to iOS, Android, and Windows Phone in April 2015.
      </p>
      <h3>More information</h3>
      <p>Not yet</p>
    </div>
  </div>

  <div class="game">
    <div class="gameTop" style="background: url('https://cdn.areajugones.es/wp-content/uploads/2017/09/Playerunknowns-Battlegrounds-810x400.jpg'); background-size: cover; background-position: center;"><button class="backbutton" onclick="alert('hoi')">&lt;--</button></div>
    <div class="gameMid">
      <h3>PUBG</h3>
      <div class="pricing"><div class="currensign">$</div><div class="29.99">29.99</div></div>
    </div>
    <div class="itemsHidden">
      <button>Buy Now</button>
      <h3>Why tf is this a thing</h3>
      <p>
        BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS BLOCKS 
      </p>
      <h3>More information</h3>
      <p>Not yet</p>
    </div>
  </div>

  <div class="game">
    <div class="gameTop" style="background: url('https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_MarioKart8Deluxe.jpg'); background-size: cover; background-position: center;"><button class="backbutton" onclick="alert('hoi')">&lt;--</button></div>
    <div class="gameMid">
      <h3>Mario Kart 8 Deluxe</h3>
      <div class="pricing"><div class="currensign">$</div><div class="59.99">59.99</div></div>
    </div>
    <div class="itemsHidden">
      <button>Buy Now</button>
      <h3>How fun</h3>
      <p>
        Two years have passed since the original Splatoon™ game was released, and two years have also passed in Inkopolis! So expect a fresh wave of fashion, not to mention new weapons and gear. Dual wield the new Splat Dualies or stick to mainstays like chargers and rollers, which have been remixed with new strategic possibilities. As always, Turf War is the favored sport among Inklings, but they also dig ranked battles, taking down Octarians in a robust single-player campaign, and battling enemy Salmonids in one dangerous part-time job! No matter which way you play, splat at home or on-the-go with Nintendo Switch. Staying fresh never felt so good.
      </p>
      <h3>More information</h3>
      <p>Not yet</p>
    </div>
  </div>

  <div class="game">
    <div class="gameTop" style="background: url('https://images-2.gog.com/321b7922b42e5c88f91b34dbf09d09eedd455bfc3380872d438aff5913a3eb1e.jpg'); background-size: cover; background-position: center;"><button class="backbutton" onclick="alert('hoi')">&lt;--</button></div>
    <div class="gameMid">
      <h3>Oxenfree</h3>
      <div class="pricing"><div class="currensign">$</div><div class="19.99">19.99</div></div>
    </div>
    <div class="itemsHidden">
      <button>Buy Now</button>
      <h3>Apparently this is a gud game</h3>
      <p>
        DuckTales: Remastered is a Metroidvania style[6] platform video game developed by WayForward Technologies and published by Capcom and Disney Interactive Studios. The game is a high-definition remake of DuckTales, a game released on the Nintendo Entertainment System in 1989. It was released for multiple gaming platforms, including the PlayStation 3, the Xbox 360, and the Wii U, over a three-month period between August and November 2013, and later expanded to iOS, Android, and Windows Phone in April 2015.
      </p>
      <h3>More information</h3>
      <p>Not yet</p>
    </div>
  </div>
</div>
  </body>
  <script>
      //window.location.reload()
  </script>
	<script src="https://use.fontawesome.com/452826394c.js"></script>
	<script src="js/main.js"></script>
	<script type="text/javascript" src="js/minified/boot.js" onerror="wiiuErrorViewer.openByCode(1119000);wiiuBrowser.jumpToHomeButtonMenu()"></script>
  <script type="text/javascript" src="js/environment.js" onerror="wiiuErrorViewer.openByCode(1119000);wiiuBrowser.jumpToHomeButtonMenu()"></script>
  <script lang="javascript">
      $(document).ready(function() {
          Wood.lap("document ready");
          new Wood.Controller.Index;
          Backbone.history.start({});
      });
  </script>
</html>